// Breakpoints
$mobile: 375px;
$desktop: 1440px;

$responsive-breakpoints: ("mobile": 375px, "dekstop": 1440px);


//Responsive Breakpoints
$responsive-mobile-sm: 576px;
$responsive-mobile: 768px;
$responsive-tablet: 992px;
$responsive-desktop: 1200px;
$responsive-desktop-lg: 1400px;

$responsive-breakpoints: ( "sm": 576px, "md": 768px, "lg": 992px, "xl": 1200px, "xxl": 1400px );