// Typography
$base-font-size: 16px;

$base-line-height: 1.5;
$heading-line-height: 1.2;

$base-font-color: hsl(211deg 35% 20%);
$heading-font-color: hsl(206deg 33% 19%);
$heading-desaturated-font-color: hsl(220deg 2% 67%);

$base-font-family: 'Barlow', serif;
$heading-font-family: 'Fraunces', serif;